body{
    /* background-color: #46a832;
    background-image: url("image.avif");
    background-size: cover; */
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    height: 110px;
    background-color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar h1{
    margin: 0;
    font-size: 4rem;
    color: white;
}

.problem-container{
    margin: 100px 0;
}

.problem-box{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    align-items: center;
}

.prob-img{
    width: 47.5%;
    border-radius: 30px;
}

.soln-img{
    width: 47.5%;
    border-radius: 30px;
}

.prob-content{
    width: 47.5%;
    padding-right: 50px;
}
.soln-content{
    width: 47.5%;
    padding-left: 50px;
}

.prob-content p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
.prob-content p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
}
.soln-content p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
.soln-content p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
}

.prob-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 30px;
}

.soln-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 30px;
}

.copyright{
    background-color: rgb(213, 213, 213);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    margin: 0;
}